@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --foreground: 60 80% 80%;
  --card: 0 0% 10%;
  --card-foreground: 60 80% 80%;
  --popover: 0 0% 0%;
  --popover-foreground: 60 80% 80%;
  --primary: 180 100% 50%;
  --primary-foreground: 0 0% 0%;
  --secondary: 60 80% 74%;
  --secondary-foreground: 0 0% 0%;
  --muted: 0 0% 15%;
  --muted-foreground: 180 100% 50%;
  --accent: 60 80% 74%;
  --accent-foreground: 0 0% 0%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 60 80% 80%;
  --border: 180 100% 50%;
  --input: 180 100% 50%;
  --ring: 180 100% 50%;
}

body {
  @apply bg-black text-yellow-300;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
